<%- include('./header.ejs') %>

<h3>Welcome to mail sending example
</h3>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit explicabo, vel quisquam cum natus odio! Architecto recusandae quam quas dolores.