*{
    margin: 0px;
}
#banner{
    height: 280px;
    background-color: dodgerblue;
}
#imgCircle{
    height: 200px;
    width: 200px;
    border: 0px solid black;
    margin-left: 50px;
    margin-top: -100px;
    border-radius: 50%;
    background-color: white;
}
#userImg{
    height: 195px;
    width: 195px;
    border-radius: 50%;
}