<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Example of Session in Express</h2></center>
    <%if(!email){%>
    <hr>
        <center>
            <a href="/">Home</a>
            <a href="/login">LoginIn</a>
        </center>
    <hr>
        <center>
            <span style="color:red"><%= message %></span>
        </center>
    <%}else{%>
        <center>
            <a href="/">Home</a>
            |   Welcome <%= email %>
            |   <a href="/logout">Logout</a>
        </center>
    <%}%>
</body>
</html>