<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.history.forward();
    </script>
</head>
<body>
<%- include('./adminHeader') %>
<center>
    <h1>Admin panel</h1>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam! Eaque ducimus ipsam blanditiis odit, eligendi id accusantium itaque neque rerum alias odio. Veritatis laboriosam, reprehenderit nostrum saepe, aspernatur soluta animi repudiandae fuga corrupti necessitatibus exercitationem cum earum ipsam minus voluptates nihil tenetur accusamus aliquam eaque consequatur ipsa! Sunt eos doloribus exercitationem natus error eius, dignissimos laboriosam beatae eum eligendi laborum, consequatur cumque debitis doloremque aut aliquam odio, ad architecto magnam! Aut voluptatem, doloremque, ullam itaque et vel magni atque similique fuga autem aliquid. Laudantium, optio fugit nesciunt cupiditate fugiat ipsa sapiente reprehenderit officia rerum eaque iste quisquam repudiandae, repellendus expedita voluptates perferendis autem adipisci. Sed nobis modi cupiditate alias magnam maiores hic odio! Reiciendis exercitationem blanditiis culpa fuga neque aspernatur commodi odio nesciunt ducimus minus? Nemo eveniet autem distinctio.
    </blockquote>
</center>
</body>
</html>