<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            height: 30px;
            width: 300px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <center>
        <h2>Example of express with mysql</h2>
    </center>
<center>
    <hr>
        <a href="/">Home | </a>
        <a href="/user/register">register | </a>
        <a href="/user/login">login</a>
    <hr>
</center>
</body>
</html>