<center>
    <h2>Example of express with mysql</h2>
</center>
<center>
<hr>
    Welcome <%= email %> <br>
    <a href="/user/home">Home | </a>
    <a href="/user/viewProfile/<%=email %>">View Profile | </a>
    <a href="/user/logout">logout</a>
<hr>
</center>