<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Express Validator</h2>
        <form action="/viewDetails" method="post">
            <caption>Fill details</caption>
            <table>
                <tr>
                    <td>
                        Enter username <br>
                        <input type="text" name="username" placeholder="enter usrename">
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter email <br>
                        <input type="email" name="email" placeholder="enter email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter password <br>
                        <input type="password" name="password" placeholder="enter password">
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter contact <br>
                        <input type="text" name="contact" placeholder="enter 10 digit phone number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="submit">
                        <input type="reset" value="reset">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>